<div class="row"></div>
 <div class="container" style=" margin-bottom:300px;">
    <div class="example-block" style="margin-top: 300px;">
        <div class="example-block__item">
            <div [formGroup]="formGroup">
            <ngx-select  id="subscriptionType" name="subscriptionType"
            [items]="items" 
            [allowClear]="true"
            [defaultValue]="doNgxDefault()"
            placeholder="Select ..."
            (typed)="inputTyped($event)"
            optionValueField="id"
            optionTextField="name" 
            (select)="doSelect($event)" 
            (remove)="doRemove($event)"
            [(ngModel)]="item" 
            [ngModelOptions]="{standalone: true}"
            [multiple]="true"
            (selectionChanges)="doSelectOptions($event)">
            </ngx-select>
            </div>
        </div>
    </div>
</div>








<!---------------------------------------------------------------------------------------------->
<!-- <div class="container" style=" margin-bottom: 200px;">
     <div class="example-block" style="margin-top: 200px;">
        <div class="example-block__item">
            <ngx-select  [items]="items" [formControl]="ngxControl"
            (selected)='selectEvent($event)'
            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'   
            placeholder="Select ..." >
            </ngx-select>
            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
            </ng-template>
        
            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
            <div class="alert alert-secondary">
                <pre>{{ngxControl.value | json}}</pre>
            </div>
        </div>
    </div> 
 </div>   -->
<!------------------------------------------------------------------------------------------------>
<!-- <div class="row"></div>
<div class="autoComplete">
    <form [formGroup]="formGroup">
        <mat-form-field>
            <mat-label class="color"> Select... </mat-label>
            <input type="text" formControlName="country" matInput [matAutocomplete]="auto" />
            <mat-autocomplete #auto='matAutocomplete'>
                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div> -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- <div>
    <ngx-autocomplete class='autoComplete' [data]="data" [searchOnProperty]="keyword"
     (selected)='selectEvent($event)'
     (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
     [itemTemplate]="itemTemplate"
     placeholder="Select ..." [notFoundTemplate]="notFoundTemplate">
    </ngx-autocomplete>

     <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
    </ng-template>
</div> -->