<div class="row"></div>
<div class="container" style=" margin-bottom: 200px;">
    <div class="example-block" style="margin-top: 200px;">
        <div class="example-block__item">
            <ngx-select [formControl]="ngxControl" [allowClear]="true" [defaultValue]="doNgxDefault()" [items]="items"
                placeholder="Select ..." (typed)="inputTyped('ngx-select', $event)" (focus)="doFocus()"
                (blur)="doBlur()" (open)="doOpen()" (close)="doClose()" (select)="doSelect($event)"
                (remove)="doRemove($event)" (selectionChanges)="doSelectOptions($event)">
            </ngx-select>

            <div class="alert alert-secondary">
                <pre>{{ngxControl.value | json}}</pre>
            </div>
        </div>
    </div>
</div>