<tr *ngIf='counter == 0'>
    <th class='td-width'>Supporter Name</th>
    <th class='td-width'>Email</th>
    <th class='td-width'>Tel</th>
    <th class='td-width'>Subject</th>
    <th class='td-width'>TextArea</th>
    <th class='td-width'>Team</th>
    <th class='td-width'>Country</th>
    <!-- <th>Actions</th> -->

</tr>
<td class='td-width'>{{message.name}}</td>
<td class='td-width'>{{message.email}}</td>
<td class='td-width'>{{message.tel}}</td>
<td class='td-width'>{{message.subject}}</td>
<td class='td-width'>{{message.textArea}}</td>
<td class='td-width'>{{team.teamName}}</td>
<td class='td-width'>{{team.country}}</td>
<!-- <td></td> -->