<div class="col-lg-12" style="margin-bottom: 30px;">
    <div class="custom-media d-flex">
      <div class="img mr-4">
        <img [src]="childPlayer.img" alt="Image" class="img-fluid">
      </div>
      <div class="text">
        
        <h4 class="mb-4">Player name : {{childPlayer.name}}</h4>
        <p>Team : {{childPlayer.team}}</p>
        <p>Age : {{childPlayer.age}}</p>
        <p>Post : {{childPlayer.post}}</p>
        <p>Numero : {{childPlayer.numero}}</p>
        <!-- <p><a (click)='goToReadMore(childPlayer.id)' class="btn btn-danger" style="color: white;">Read more</a></p> -->
      </div>
    </div>
  </div>
